DATABASE_TYPE="redis"
DATABASE_URI="tcp://127.0.0.1:6379"
STORAGE_TYPE="filesystem"
STORAGE_URI="/tmp/pho"
INDEX_TYPE="neo4j"
INDEX_URI="bolt://neo4j:password@localhost:7687";
STREAM_KEY=""
STREAM_SECRET=""
MAILGUN_KEY=""
MAILGUN_DOMAIN=""
PASSWORD_REMINDER="/tmp/pins/"
FOUNDER_NICKNAME=""
FOUNDER_EMAIL=""
FOUNDER_PASSWORD=""
IS_PRODUCTION=0
STRIPE_KEY=""
SINGLE_SIGNON_TOKEN_KEY=""
IS_INACTIVE=0
UUID=
AWS_KEY=
AWS_SECRET=
AWS_REGION=us-west-2
AWS_VERSION=latest

AWS_S3_BUCKET=

INSTALLATION_TYPE=
PASSWORD_REMINDER_ON_REDIS=0

MAX_UPLOAD_SIZE="20M"
